pyyaml

# mysql
mysql-connector-python

# redis
redis

# etcd v3
etcd3
protobuf==3.20

# elasticsearch
elasticsearch

# milvus: 建议安装与所安装 Milvus 服务器版本相匹配的 PyMilvus 版本。更多信息，请参阅[发行说明](https://milvus.io/docs/zh/release_notes.md)。
pymilvus==2.5.4